@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=26c85482-69dc-4f2b-ad21-a3522273e645");
@font-face{
  font-family:"ITC Avant Garde Gothic Book";
  src:  url("../fonts/8bf59539-e73d-40bc-99bb-47491d253b56.woff2") format("woff2"),
        url("../fonts/aaa23783-21a8-4607-adc1-28fd7a7f4455.woff") format("woff");
}
@font-face{
  font-family:"ITC Avant Garde Gothic Medium";
  src:  url("../fonts/e6f0d927-8819-4091-918e-e9bb6827b022.woff2") format("woff2"),
        url("../fonts/1e67a9a6-e8cd-492b-9b6e-ee8f76d75736.woff") format("woff");
}


html {
	font-size: 10px;
	font-family: sans-serif;
}

h1 {
  font-family: 'ITC Avant Garde Gothic Medium', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 8rem;
  color: #54534e;
  letter-spacing: -0.6rem;
  font-weight: normal;
}

h2 {
  font-family: 'ITC Avant Garde Gothic Book', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  font-size: 2.4rem;
  color: #7b7872;
  font-weight: normal;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 3rem;
  color: #54534e;
}

h4 {
  font-family: 'ITC Avant Garde Gothic Medium', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: -0.2rem;
  font-size: 3.2rem;
  color: #54534e;
  font-weight: normal;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 2rem;
   color: #7b7872;
   line-height: 1.4;
}

a {
  font-family: 'ITC Avant Garde Gothic Book', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: -0.2rem;
  font-weight: normal;
}

table {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #7b7872;
  text-align: left;
}

li, dt, dd {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #7b7872;
}

dt {
  font-weight: bold;
}

figcaption, aside, .project-content .small-text p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #7b7872;
  line-height: 1.4;
}

code {
  padding: 0 3px;
  background: rgba(55,55,55,0.1);
  font-family: 'Consolas', Courier New, Courier, monospace;
}

pre[class*="language-"], code[class*="language-"] {
  font-family: 'Consolas', Courier New, Courier, monospace;
  font-size: 2rem;
  line-height: 1.4;
  color: #7b7872;
  text-align: left;
}

.full-article aside, .about-content aside {
  text-align: center;
  font-size: 4rem;
  font-style: italic;
  line-height: 1.2;
}

.project-content aside, .project-content .small-text {
  text-align: right;
}

.full-article h4 {
  color: #7b7872;
}

.motto, .back-top p, time, .new-label {
  font-family: 'ITC Avant Garde Gothic Book', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  color: #908e89;
  font-weight: normal;
}

.new-label {
  color: #e2dcd0;
}

.project-link {
  font-family: 'ITC Avant Garde Gothic Book', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  color: #ff4326;
  font-weight: normal;
}

.articles-filter-item {
  font-family: 'ITC Avant Garde Gothic Book', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.4rem;
  letter-spacing: -0.2rem;
  color: #7b7872;
  font-weight: normal;
}

.blog-article h4 {
  line-height: 1.1;
}

.blog-article footer p {
  font-family: 'ITC Avant Garde Gothic Book', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  color: #7b7872;
  font-weight: normal;
}

.blog-article footer p time {
  text-transform: none;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  color: #7b7872;
}

.main-content.full-article .full-article-topic  {
  font-family: 'ITC Avant Garde Gothic Book', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.4rem;
  color: #7b7872;
}

.full-article h3 {
  font-size: 2rem;
}


.full-article-summary {
  font-size: 2.4rem;
}


.main-content.full-article h2 {
  font-family: 'ITC Avant Garde Gothic Medium', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: -0.2rem;
  font-size: 3.4rem;
  color: #54534e;
  font-weight: normal;
}

.full-article p a {
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 400;
 letter-spacing: 0;
 color: #7b7872;
}

.token.keyword {
  color: #6e59a4;
}

.token.string {
  color: #70a459;
}

/*ABOUT GRAPHS*/
.graph-label {
  font-family: 'ITC Avant Garde Gothic Book', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  color: #7b7872;
  font-weight: normal;
}

/*FULL SCREEN GALLERY*/
.gallery-img-counter {
  font-family: 'ITC Avant Garde Gothic Book', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.4rem;
  letter-spacing: -0.2rem;
  color: #908e89;
  font-weight: normal;
}

/*FOOTER MAIN*/
.main-footer .contact-info {
  color: #f5eee1;
}

.main-footer .contact-info {
  text-align: right;
  font-size: 1.6rem;
  line-height: 1.0;
}

.main-footer .email {
  font-family: 'ITC Avant Garde Gothic Medium', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2rem;
  color: #ff4326;
  font-weight: normal;
}

/*NEW ARTICLE*/
.new-article h1 a {
  text-decoration: none;
  font-family: 'ITC Avant Garde Gothic Medium', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #54534e;
  font-weight: normal;
}

.blog-article h4 a {
  text-decoration: none;
  font-family: 'ITC Avant Garde Gothic Medium', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #54534e;
  font-weight: normal;
}

@media all and (max-width: 700px) {
  /*STICKY HEADER*/
  .sticky-header .main-nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 4rem;
    color: #f5eee1;
    text-transform: none;
  }
}
